{% extends 'search/base.html' %}

{% block title %}Change password successful{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'password_change' %}">Alterar a Palavra-Passe</a></li>
  <li class="breadcrumb-item active">Resultado</li>
{% endblock breadcrumb %}

{% block content %}
  <h3 class="mb-4">Alterar a Palavra-Passe</h3>

  <div class="alert alert-success" role="alert">
    <strong>Sucesso!</strong> A sua palavra-passe foi alterada!
  </div>
  <a href="{% url 'home' %}" class="btn btn-secondary">Voltar ao Início</a>
{% endblock %}
