{% extends 'search/base.html' %}

{% block title %}Change password successful{% endblock %}

{% block content %}
  <div class="container mt-4">
    <div class="bg-light rounded" style="padding: 30px;">
      <h3 class="mb-4">Alterar a Palavra-Passe</h3>

      <div class="alert alert-success" role="alert">
        <strong>Sucesso!</strong> A sua palavra-passe foi alterada!
      </div>
      <a href="{% url 'home' %}" class="btn btn-secondary">Voltar à Página Inicial</a>
    </div>
  </div>
{% endblock %}
